.sv-progressbar-percentage {
  display: flex;
  flex-direction: row;
  /* gap: 16px; //! REMOVING!!!! */
  line-height: 32px;
  /* padding: 24px; DEFAULT*/
  padding: 8px 0px;
  /* border-radius: 6px; */
  /* box-shadow: var(--sjs-shadow-small, 0px 1px 2px 0px rgba(0, 0, 0, 0.15)); */
  background: var(--sjs-questionpanel-backcolor, var(--sjs-question-background, var(--sjs-general-backcolor, var(--background, #fff))));
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
  color: var(--sjs-font-questiontitle-color, var(--sjs-general-forecolor, var(--foreground, #161616)));
}
.sd-root--compact .sv-progressbar-percentage {
  box-shadow: none;
  /* border: 1px solid var(--sjs-border-default, #d6d6d6); */
}
.sv-progressbar-percentage__title {
  font-size: 20px;
  display: flex;
}

.sv-progressbar-percentage__indicator {
  position: relative;
  display: flex;
  width: 100%;
  /* max-width: 50%; */
  height: 32px;
  box-shadow: var(--sjs-shadow-small, 1px 1px 1px 1px rgba(0, 0, 0, 0.15));
  border-radius: 9999px;
  background: var(--sjs-general-backcolor-dim-dark, #19b394);
  height: 10px;
  /* flex-basis: 80%;  REMOVING!!! */
}

.sv-progressbar-percentage__value-bar {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 9999px;
  border: 1px solid var(--sjs-primary-backcolor, #19b394);
  background: var(--sjs-primary-backcolor, #19b394);
  height: 10px;
}

.sv-progressbar-percentage__value {
  font-size: 20px;
  display: flex;
}
