@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #005a57;
  --btn: #04bed6;
  --btn-hover: #cdd800;
  --off-white: #f2f2f2;
  --td-footer: #005757;
  --grey: #757477;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-btn: var(--btn);
  --color-btn-hover: var(--btn-hover);
  --color-off-white: var(--off-white);
  --color-td-footer: var(--td-footer);
  --color-grey: var(--grey);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    /* COMMENTING OUT, SO THAT SYSTEM DARK MODE DOES NOT CHANGE WEBSITE, AS I NOTE THAT SYSTEM THEME HAS NO EFFECT ON ORIGINAL WEBSITE */
  }
}

html {
  scroll-padding-top: 80px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#bodyElement .sd-question {
  /* add a bit more margin between questions */
  margin-top: 0px;
}

#bodyElement .sv-components-container-contentTop {
  margin-bottom: -20px;
  /* to reduce margin between progress percent page and top question  */
}

#bodyElement .sd-title {
  /* add margin between each Question title and its inputs */
  margin-bottom: 5px;
}

/* adjusting the spacing around text: '(Required)' after each survey question */
#bodyElement .sd-question__required-text:before {
  content: "\A\A";
}
#bodyElement .sd-question__required-text {
  white-space: pre;
  line-height: 0.8;
  font-size: 12px;
}

#bodyElement .sd-item {
  /* e.g. can do sd-radio or sd-checkout for more specific styling */
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 3px;
  padding-top: 4px;
  margin-bottom: 0px;
}

#bodyElement .sd-checkbox {
  /* e.g. can do sd-radio or sd-checkout for more specific styling */
  /* margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 6px; */
}

#bodyElement .sd-item__control-label {
  /*  this is for the TEXT next to a survey input field, e.g. next to a checkbox or a radio button */
  color: #222222;
  /* can amend font-size if want, but default looks similar to original site */
}

#bodyElement .sd-error {
  color: red;
}

#bodyElement .sd-item__decorator {
  scale: 75%;
  /* this effects at least checkbox and radio.  if is too general, may need to just use sd-checkbox or sd-radio */
}

#bodyElement .sd-btn {
  /* any button on surveyjs i think */
  flex-grow: 0;
  padding: 10px 25px;
  background-color: var(--btn);
  color: #ffffff;
  border-radius: 0px;
  padding-bottom: 9px;
}

#bodyElement .sd-btn:hover {
  background-color: var(--btn-hover);
}

#bodyElement .sd-input.sd-text {
  height: 37px;
  box-sizing: border-box;
  width: 100%;
  /* (added this to fix the email text input oddly not being as wide as the other text inputs) */
}

#bodyElement .sd-footer {
  justify-content: flex-start;
  padding-left: 0px;
  padding-top: 20px;
}

#bodyElement .sv-action {
  /* // #sv-nav-prev { */
  padding: 0px;
  margin: 0px;
  flex-grow: 0;
}
#bodyElement .sv-action__content {
  display: block;
}

#bodyElement .sd-body {
  padding-left: 10px;
  padding-right: 10px;
}

#bodyElement .sd-page {
  padding-left: 0px;
  padding-right: 0px;
}

#bodyElement .sd-input {
}
