@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --off-white: #f2f2f2;
  --grey: #757477;
  --remitech-purple: #7b68eb;
  --remitech-turquoise: #01bbd5;
  --btn: #2a6af9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-btn: var(--btn);
  --color-btn-hover: var(--btn-hover);
  --color-off-white: var(--off-white);
  --color-td-footer: var(--td-footer);
  --color-grey: var(--grey);
  --font-mono: var(--font-geist-mono);
  --color-remitech-purple: var(--remitech-purple);
  --color-remitech-turquoise: var(--remitech-turquoise);
  --font-poppins: var(--font-poppins);
  --font-*: initial;
  --font-sans: "Poppins", "sans-serif";
  --font-primary: "Poppins", "Open Sans";
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    /* COMMENTING OUT, SO THAT SYSTEM DARK MODE DOES NOT CHANGE WEBSITE, AS I NOTE THAT SYSTEM THEME HAS NO EFFECT ON ORIGINAL WEBSITE */
  }
}

html {
  scroll-padding-top: 80px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

body {
}

a {
  color: var(--btn);
}

a:hover {
  color: var(--remitech-purple);
}

a:active {
  color: var(--color-remitech-turquoise);
}
